canvas {
    display: block; /* Prevent extra space below canvas */
    background-color: transparent;
    border-radius: 2px;
    margin-top: 2px;
}

:global(.dark) {
    --waveform-color: white;
}

:global(.light) {
    --waveform-color: black;
} 